/hackerrank/diagona_lDifference/nbproject/private/
/hackerrank/diagona_lDifference/build/
/hackerrank/counting-valleys/nbproject/private/
/hackerrank/counting-valleys/build/
/hackerrank/climbingtheleaderboard/nbproject/private/
/hackerrank/climbingtheleaderboard/build/
/hackerrank/ConsecutiveStrings/nbproject/private/
/hackerrank/ConsecutiveStrings/build/
/hackerrank/defrangingAnIp/nbproject/private/
/hackerrank/defrangingAnIp/build/
/hackerrank/peopleInBus/nbproject/private/
/hackerrank/bouncing/nbproject/private/
/hackerrank/bouncing/build/
/hackerrank/leetSpeak/nbproject/private/
/hackerrank/leetSpeak/build/
/hackerrank/wholikes/nbproject/private/
/hackerrank/facebookGrowth/nbproject/private/
/hackerrank/facebookGrowth/build/
/hackerrank/cai/nbproject/private/
/hackerrank/cai/build/
/hackerrank/diceRolling/nbproject/private/
/hackerrank/diceRolling/build/
/hackerrank/airlinesReservation/nbproject/private/
/hackerrank/chapter7Q16/nbproject/private/
/hackerrank/chapter7Q16/build/